@if (isLoading) {
<div class="loader-wrapper">
  <div class="loader"></div>
</div>
}

@if (!isLoading) {
<div class="main-content" *ngIf="!isLoading">
  <div class="sidebar">
    <div class="justify-between">
      <div class="display-grid">
        <img src="main-logo.svg" alt="Home" class="sidebar-icons">
        <img src="home.svg" alt="Home" class="sidebar-icons">
        <img src="alnalytics.svg" alt="Analytics" class="sidebar-icons">
        <img src="layer.svg" alt="Layers" class="sidebar-icons">
        <img src="correct.svg" alt="Correct" class="sidebar-icons">
        <img src="chart.svg" alt="Chart" class="sidebar-icons">
        <img src="users.svg" alt="Users" class="sidebar-icons">
      </div>
      <div class="display-grid align-content">
        <img src="ring.svg" alt="Guard" class="sidebar-icons-end">
        <img src="gear-solid.svg" alt="Settings" class="sidebar-icons-end">
        <img src="user.svg" alt="Account" class="sidebar-icons-end">
      </div>
    </div>
  </div>
  <div class="header">
    <div class="justify-between">
      <div>
        <h1 class="huninn-regular">&nbsp;Welcome Back, Olivia</h1>
      </div>
      <div class="header-buttons">
        <button class="svg-search-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
          </svg>
        </button>

        <button class="svg-img-buttons">
          <img src="customize.svg" alt="customize" class="customize">
          &nbsp;&nbsp;Customize</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="svg-img-buttons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 128-168 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l168 0 0 112c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zM384 336l0-48 110.1 0-39-39c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l80 80c9.4 9.4 9.4 24.6 0 33.9l-80 80c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l39-39L384 336zm0-208l-128 0L256 0 384 128z" />
          </svg>&nbsp;&nbsp;Export</button>
      </div>

    </div>
    <div class="chart">
      <div class="card">
        <div class="card-header">
          <div class="display-flex">
            <div class="icon-circle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 528 512" width="40" height="40" fill="#000">
                <path
                  d="M264.4 116.3l-132 84.3 132 84.3-132 84.3L0 284.1l132.3-84.3L0 116.3 132.3 32l132.1 84.3zM131.6 395.7l132-84.3 132 84.3-132 84.3-132-84.3zm132.8-111.6l132-84.3-132-83.6L395.7 32 528 116.3l-132.3 84.3L528 284.8l-132.3 84.3-131.3-85z" />
              </svg>
            </div>&nbsp;&nbsp;

            <div>
              <div>
                Vendor Breakdown
              </div>
              <div class="opacity-5">
                Keep track of vendors and their security ratings
              </div>
            </div>
          </div>
          <div class="three-dot-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512">
              <path
                d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z" />
            </svg>
          </div>
        </div>
        <div class="card-body">
          <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
              [responsive]="chartOptions.responsive" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend"
              [fill]="chartOptions.fill"></apx-chart>
          </div>
        </div>
        <div class="card-footer">
          <button class="svg-img-buttons">
            &nbsp;&nbsp;View Full Report</button>
        </div>
      </div>
      <span class="spacing"></span>
      <div class="card-monitor">
        <div class="card-header height-adjust">
          <div class="display-block">
            <div>
              Vendors monitored
            </div>
            <div class="opacity-5">
              You're using 80% of available spots.
            </div>

          </div>
          <div class="three-dot-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512">
              <path
                d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z" />
            </svg>
          </div>
        </div>
        <div class="card-body">
          <div id="chart_semi">
            <apx-chart [series]="chartSemiOptions.series" [chart]="chartSemiOptions.chart"
              [plotOptions]="chartSemiOptions.plotOptions" [fill]="chartSemiOptions.fill"></apx-chart>
            <div>
              <h3>
                You've almost reached your limit
              </h3>
              <div class="opacity-5">
                You have used 80% of your available spots.
              </div>
              <div class="opacity-5">
                Upgrade plan to monitor more vendors.
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="svg-img-buttons">
            <img src="upgrade.svg" alt="Upgrade" class="customize">
            &nbsp;&nbsp;Upgrade plan</button>
        </div>
      </div>

    </div>
    <div class="team-table-div">
      <div class="team-card">
        <div class="team-card-header">
          <div>
            <div>
              Team members&nbsp;&nbsp; <button class="onlyShowTotalsButton">{{totalCount}} Users</button>
            </div>
          </div>
          <div class="three-dot-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512">
              <path
                d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z" />
            </svg>
          </div>
        </div>
        <div class="team-card-body">

          <table class="team-table">
            <thead>
              <tr>
                <th class="checkbox-cell">
                  <label class="custom-checkbox">
                    <input type="checkbox" (change)="toggleAll($event)" [checked]="isAllSelected()" />
                    <span class="checkmark"></span>
                  </label>
                </th>
                @for (header of columns;track header) {
                <th [style.textAlign]="header.align">
                  {{ header.column_name }}
                </th>
                }
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              @for (item of gridData;track item) {
              <tr>
                <td class="checkbox-cell">
                  <label class="custom-checkbox">
                    <input type="checkbox" [checked]="item.selected" />
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>
                  <b>
                    {{item.name.first_name + ' ' + item.name.last_name}} <br>
                  </b>
                  <span class="opacity-5">
                    {{item.name.handle}}
                  </span>
                </td>
                <td>
                  @if (item.status === 'Customer') {
                  <span class="badge customer">
                    {{ item.status }}
                  </span>
                  }
                  @if (item.status === 'Churned') {
                  <span class="badge churned">
                    {{ item.status }}
                  </span>
                  }
                </td>
                <td>
                  {{item.role}}
                </td>
                <td>
                  <div class="progress-container">
                    <div class="progress-bar">
                      <div class="progress-fill" [style.width]="item.license_used + '%'"></div>
                    </div>
                    <div class="progress-text">{{ item.license_used + '%'}}</div>
                  </div>

                </td>
                <td>
                  @for (team of item.teams; track team) {
                  <span class="team-tag" [style.color]="team.text_color"
                    [style.backgroundColor]="team.background_color">
                    {{ team.value }}
                  </span>
                  }
                </td>
                <td>
                  <button class="action-button edit" (click)="onEdit(item)">
                    ✏️
                  </button>
                  <button class="action-button delete" (click)="onDelete(item)">
                    🗑️
                  </button>
                </td>


              </tr>
              }
            </tbody>
          </table>

        </div>
        <div class="team-card-footer">
          <button class="svg-img-buttons">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>&nbsp;&nbsp;Previous</button>
          <div class="pagination">
            <button class="page-btn">1</button>
            <button class="page-btn">2</button>
            <button class="page-btn">3</button>
            <button class="page-btn">4</button>
            <span class="dots">...</span>
            <button class="page-btn">8</button>
            <button class="page-btn">9</button>
            <button class="page-btn">10</button>
          </div>

          <button class="svg-img-buttons">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>&nbsp;&nbsp;Next</button>
        </div>
      </div>
    </div>

  </div>

</div>


}
<div class="popup" *ngIf="isPopupOpen">
  <div class="popup-content">

    <ng-container *ngIf="popupType === 'edit'">
      <h2>Edit Client</h2>
      <p>Client Name: <strong>{{ selectedClientName }}</strong></p>
      <button (click)="closePopup()">Close</button>
    </ng-container>

    <ng-container *ngIf="popupType === 'delete'">
      <h2>Delete Confirmation</h2>
      <p>Are you sure you want to delete <strong>{{ selectedClientName }}</strong>?</p>
      <button (click)="confirmDelete()">Yes, Delete</button>&nbsp;&nbsp;
      <button (click)="closePopup()">Cancel</button>
    </ng-container>

  </div>
</div>